@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.miTabla {
    overflow-x: auto; /* Añadir desplazamiento horizontal */
    white-space: nowrap; /* Evitar que el contenido se envuelva */
}


body {
    background-color: hsl(var(--background));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  
  .tab {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  
